@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../Images/hogent_logo.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gegevens wijzigen</h2>
        <p>
            Hier kan je je gegevens wijzigen.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Student")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Overzicht stages</h2>
        <p>Hier kan je het overzicht van alle stages terugvinden.</p>
        <p><a class="btn btn-default" href=@Url.Action("Overzicht", "Student")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @* Moet nog veranderd worden!!!!!! *@
        <h2>Administrator</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href=@Url.Action("Gegevens", "Student")>Registreer &raquo;</a></p>
    </div>
</div>