@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../Images/hogent_logo.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stage Toevoegen</h2>
        <p>
            Hier kan je een nieuwe stage toevoegen.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Stages", "Bedrijf")>Toevoegen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stages beheren</h2>
        <p>Hier kan je je stages beheren.</p>
        <p><a class="btn btn-default" href=@Url.Action("Overzicht", "Bedrijf")>Beheer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stagementor beheren</h2>
        <p>Hier kan je de stagementoren beheren.</p>
        <p><a class="btn btn-default" href=@Url.Action("CreateMentor", "Bedrijf")>Beheer &raquo;</a></p>
    </div>
</div>