@{
    ViewBag.Title = "Over";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h4>Algemene informatie</h4>
<p>
    Deze webapplicatie is ontwikkeld door studenten van het 2de jaar toegepaste informatica van de Hogeschool Gent te Aalst in kader van het opleidingsonderdeel
    Projecten II Workshops. De opdracht was om een online beveiligde toepassing te maken voor stages, projecten en bachelorproeven.
    Deze applicatie bestaat uit volgende mogelijkheden:
    <ul>
        <li>Website voor externen met informatie rond samenwerkingsmogelijkheden met het werkveld waaronder de werking van stages/projecten/bachelorproef/gastcolleges,</li>
        <li>beheren van de stagemodule,</li>
        <li>beheren van de aanvraag projecten,</li>
        <li>beheren van de aanvraag bachelorproeven,</li>
        <li>beheren van de aanvraag gastcolleges.</li>
    </ul>
</p>

<h4>Informatie projectwerking I,II en III</h4>
<p>
    In de opleiding toegepaste informatica blijft het niet alleen bij theorie en hoorcolleges: theoretische kennis wordt meteen in praktijk omgezet en vakoverschrijdend projectwerk is een vaste waarde in de opleiding.
    In deze projecten word je gestimuleerd oom je kennis uit de verschillende opleidingsonderdelen te combineren en integreren in een complexe opdracht. In het eerste jaar staat nog een fictieve case op het programma maar later buig je je over een vakoverschrijdende 'real-case' die wprdt aangeleverd door een externe klant.
</p>

<h4>Informatie bachelorproef</h4>
<p>
    De doelstelling van de bachelorproef is aantonen dat je in staat bent een "klant" (in de eigen organisatie of extern) advies te geven over het in een bedrijfscontext toepassen van een nieuwe ICT-technologie, of over de keuze tussen verschillende nieuwe ICT-producten. Daarom moet je in staat zijn op een methodologisch correcte en objectieve manier
    relevante informatie te verzamelen, zowel in de literatuur als bij belanghebbenden, en die informatie te structureren en te analyseren, een proof-of-concept uit te werken en daarover te rapporteren tegenover publiek dat niet noodzakelijk technisch aangelegd is.
</p>
<p>De omschrijving van de inhoud: De student maakt een studie van een ict-gerelateerd onderwerp, meer bepaald over nieuwe ontwikkelingen/technologieën/tools/... in zijn/haar specifieke vakgebied, en schrijft daar een scriptie rond. Er worden ter ondersteuning enkele praktische workshops georganiseerd rond bv. een scriptie opmaken met het LaTeX tekstzetsysteem, het voeren van een literatuuronderzoek, werken met een reference manager, ... </p>

<h4>Informatie stagewerking</h4>
<ol class="round">
    <li class="one">
        Als sluitstuk van hun opleiding gaan onze studenten steeds drie maanden op bedrijfsstage. <br />Onder begeleiding van ervaren medewerkers, gaan ze als bijna-volleerde informaticus aan de slag. <br />De stage is een win-winsituatie voor bedrijf en student!<br /> De student beleeft een leerrijke ervaring op de werkvloer, het bedrijf krijgt er een waardevolle werkkracht bij.
        <p>
            Co&ouml;rdinator: Anneleen Bekkens - <a href="mailto:anneleen.bekkens@hogent.be">anneleen.bekkens@hogent.be</a>
        </p>

    </li>

    <li class="two">
        Gedurende de maanden maart-april-mei (12weken) lopen 2 studenten in het bedrijf stage en werken daar zelfstandig aan hun opdracht
        <ul>
            <li>wij werken meestal met projectstages en niet met doe-stages : het is de bedoeling dat de studenten een project uitwerken en niet dat ze 'meelopen' in het bedrijf of meerdere kleine uitvoerende taken verrichten.</li>
            <li>in juni wordt het resultaat op school voor een jury gepresenteerd en gedemonstreerd.</li>
            <li>de werklast werd vastgelegd op ongeveer 1 manmaand.</li>
            <li>qua soft- en/of hardware zijn er geen vereisten, maar alles wordt wel door het bedrijf ter beschikking gesteld, alsmede rekenen we erop dat er technische ondersteuning kan gegeven worden in het bedrijf.</li>
            <li>
                de opleiding biedt aan de 3e jaars 4 keuzepakketten aan en het zou dan ook goed zijn voor de studenten mochten wij hen een opdracht kunnen aanbieden in de door hen gekozen richting :
                <ul>
                    <li>Systeem en netwerkbeheer.</li>
                    <li>Programmeren.</li>
                    <li>Multimedia.</li>
                    <li>Mainframe applicatie en beheer.</li>
                </ul>
            </li>
        </ul>

    </li>

    <li class="three">
        Tijdsverloop aanvraag - toewijzing stage:
        <ul>
            <li>augustus : aanschrijven bedrijven met formulieren 'nieuwe stageopdracht'.</li>
            <li>opdrachten worden opgevraagd tegen begin oktober.</li>
            <li>tegen begin november duiden de studenten hun voorkeur aan en tegen half november worden de opdrachten definitief aan de studenten toegekend.</li>
            <li>daarna worden de stagebegeleiders toegekend en in de loop van de maand december komt de stagebegeleider met de studenten langs voor een kennismaking.</li>
            <li>vanaf eind februari start de stageperiode en dan mag je om de 2 tot 3 weken een bezoek van de stagebegeleider verwachten voor de opvolging.</li>
        </ul>

    </li>
</ol>

<h4>Informatie samenwerkende bedrijven</h4>
Hier komen de logo's van de samenwerkende bedrijven.