@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<img src="../Images/hogent_logo.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bedrijf</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit mi, lacinia non blandit nec, ultrices in tellus. Ut convallis nunc massa, nec laoreet metus sagittis nec.
             Cras bibendum id purus et sodales. Nullam metus risus, eleifend vel mi id, placerat vulputate elit. 
            Sed nec turpis sed sem adipiscing aliquam. Mauris ut dictum felis. Cras adipiscing lorem enim, euismod lobortis lacus ullamcorper posuere. 
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Bedrijf")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit mi, lacinia non blandit nec, ultrices in tellus. Ut convallis nunc massa, nec laoreet metus sagittis nec.
             Cras bibendum id purus et sodales. Nullam metus risus, eleifend vel mi id, placerat vulputate elit. 
            Sed nec turpis sed sem adipiscing aliquam. Mauris ut dictum felis. Cras adipiscing lorem enim, euismod lobortis lacus ullamcorper posuere. </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Student")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administrator</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit mi, lacinia non blandit nec, ultrices in tellus. Ut convallis nunc massa, nec laoreet metus sagittis nec.
             Cras bibendum id purus et sodales. Nullam metus risus, eleifend vel mi id, placerat vulputate elit. 
            Sed nec turpis sed sem adipiscing aliquam. Mauris ut dictum felis. Cras adipiscing lorem enim, euismod lobortis lacus ullamcorper posuere. </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Bedrijf")>Registreer &raquo;</a></p>
    </div>
</div>