@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*                <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>*@
            </hgroup>
            <img src="../Images/logokleur_trans.gif" />

        </div>
    </section>
}
<h3>Algemene informatie over de organisatie van de stages:</h3>
<ol class="round">
    <li class="one">
        Als sluitstuk van hun opleiding gaan onze studenten steeds drie maanden op bedrijfsstage. <br />Onder begeleiding van ervaren medewerkers, gaan ze als bijna-volleerde informaticus aan de slag. <br />De stage is een win-winsituatie voor bedrijf en student!<br /> De student beleeft een leerrijke ervaring op de werkvloer, het bedrijf krijgt er een waardevolle werkkracht bij.
        <p>
            Co&ouml;rdinator: Anneleen Bekkens - <a href="mailto:anneleen.bekkens@hogent.be">anneleen.bekkens@hogent.be</a>
        </p>
    </li>
    <li class="two">
        Gedurende de maanden maart-april-mei (12weken) lopen 2 studenten in het bedrijf stage en werken daar zelfstandig aan hun opdracht
        <ul>
            <li>wij werken meestal met projectstages en niet met doe-stages : het is de bedoeling dat de studenten een project uitwerken en niet dat ze 'meelopen' in het bedrijf of meerdere kleine uitvoerende taken verrichten.</li>
            <li>in juni wordt het resultaat op school voor een jury gepresenteerd en gedemonstreerd.</li>
            <li>de werklast werd vastgelegd op ongeveer 1 manmaand.</li>
            <li>qua soft- en/of hardware zijn er geen vereisten, maar alles wordt wel door het bedrijf ter beschikking gesteld, alsmede rekenen we erop dat er technische ondersteuning kan gegeven worden in het bedrijf.</li>
            <li>
                de opleiding biedt aan de 3e jaars 4 keuzepakketten aan en het zou dan ook goed zijn voor de studenten mochten wij hen een opdracht kunnen aanbieden in de door hen gekozen richting :
                <ul>
                    <li>Systeem en netwerkbeheer.</li>
                    <li>Programmeren.</li>
                    <li>Multimedia.</li>
                    <li>Mainframe applicatie en beheer.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="three">
        Tijdsverloop aanvraag - toewijzing stage:
        <ul>
            <li>augustus : aanschrijven bedrijven met formulieren 'nieuwe stageopdracht'.</li>
            <li>opdrachten worden opgevraagd tegen begin oktober.</li>
            <li>tegen begin november duiden de studenten hun voorkeur aan en tegen half november worden de opdrachten definitief aan de studenten toegekend.</li>
            <li>daarna worden de stagebegeleiders toegekend en in de loop van de maand december komt de stagebegeleider met de studenten langs voor een kennismaking.</li>
            <li>vanaf eind februari start de stageperiode en dan mag je om de 2 tot 3 weken een bezoek van de stagebegeleider verwachten voor de opvolging.</li>
        </ul>
    </li>
</ol>
