@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../Images/hogent_logo.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bedrijf</h2>
        <p>
            Hier kan je je als nieuw bedrijf registreren. Als je al een account hebt aangemaakt, kan je op inloggen klikken in de rechterbovenhoek van de pagina.
            Indien u met vragen zit, of er iets niet helemaal duidelijk is, aarzel dan niet en ga naar de contactpagina om ons te contacteren.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Bedrijf")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student</h2>
        <p>
            Hier kan je je als student registreren met je HoGent e-mail adres. Je gebruikt voor je eerste aanmelding je HoGent wachtwoord, maar je wijzigt dit direct na de aanmelding. Ook vragen we je om nog enkele gegevens over jezelf aan te vullen.
            Indien u met vragen zit, of er iets niet helemaal duidelijk is, aarzel dan niet en ga naar de contactpagina om ons te contacteren.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Student")>Registreer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stagebegeleider</h2>
        <p>
            Hier kan je je als stagebegeleider aanmelden. Je gebruikt voor je eerste aanmelding je HoGent wachtwoord, maar je wijzigt dit direct na de aanmelding. Ook vragen we je om nog enkele gegevens over jezelf aan te vullen.
            Indien u met vragen zit, of er iets niet helemaal duidelijk is, aarzel dan niet en ga naar de contactpagina om ons te contacteren.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Bedrijf")>Registreer &raquo;</a></p>
        @* Moet nog veranderd worden!!!!! *@
    </div>
</div>