<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://how2stage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>how2stage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>how2stage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$how2stage</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="stagesContext" Order="1" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-a.cloudapp.net;Initial Catalog=how2staAzZabkwKo;User ID=bcd0f56eb66f1e;Password=e4d2de81" Name="Database=how2staAzZabkwKo;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bcd0f56eb66f1e;Password=e4d2de81" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HoGent_Stages.Models.DAL.StagesContext, HoGent Stages" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Hogent_Stages.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-a.cloudapp.net;Initial Catalog=how2staAzZabkwKo;User ID=bcd0f56eb66f1e;Password=e4d2de81" Name="Database=how2staAzZabkwKo;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bcd0f56eb66f1e;Password=e4d2de81" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hogent_Stages.Models.ApplicationDbContext, HoGent Stages" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Hogent_Stages.MySqlHistoryContext" Order="3" Enabled="False">
          <Destination Path="Data Source=eu-cdbr-azure-west-a.cloudapp.net;Initial Catalog=how2staAzZabkwKo;User ID=bcd0f56eb66f1e;Password=e4d2de81" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hogent_Stages.MySqlHistoryContext, HoGent Stages" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hogent_Stages.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Database=how2staAzZabkwKo;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bcd0f56eb66f1e;Password=e4d2de81</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hogent_Stages.MySqlHistoryContext-Web.config Connection String">
      <ParameterValue>Data Source=eu-cdbr-azure-west-a.cloudapp.net;Initial Catalog=how2staAzZabkwKo;User ID=bcd0f56eb66f1e;Password=e4d2de81</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)stagesContext-Web.config Connection String">
      <ParameterValue>Database=how2staAzZabkwKo;Data Source=eu-cdbr-azure-west-a.cloudapp.net;User Id=bcd0f56eb66f1e;Password=e4d2de81</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Hogent_Stages.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="Hogent_Stages.MySqlHistoryContext" />
  </ItemGroup>
</Project>